html
  head
    title= title
    link(rel="stylesheet", href="/styles/main.css")
    script(type="text/javascript", src="/scripts/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/javascript/main.js")
  body
    .container
      img(src="/images/background.png")
      video(id="video", src=video_path, autoplay)
