body{
  margin: 0;
  padding: 0;
}

.container video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  object-fit: contain;
  top: 0;
  z-index: -2;
  background: black;
  position: absolute;
  z-index: 90;
}

.container img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  object-fit: contain;
  top: 0;
  z-index: -2;
  background: black;
  position: absolute;
  z-index: 100;
}

.container .btn {
  width: 190px;
  height: 50px;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  top: 20vh;
  margin: auto;
  font-size: 20;
  text-transform: uppercase;
  background: transparent;
  color: #eacc6d;
  border: none;
  box-shadow: none;
}
